


.Banner {
  padding: 5px;
  background: rgb(22,219,101);
  -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;



}

.Banner h1{
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  padding-right: 5px;
  color: white;
  font-size: 18px;

  margin-left: 10px;
}

.Banner img {
  display: inline-block;
  border-color: black;
  border-width: 3px;
  padding-right: 5px;
  width: 50px;
  margin-bottom: 15px;
  height: 100%;

  border-right-style: ridge;
}

.logIn{
  background-color: black;
  padding: 10px;
  margin-right: 10px;
  margin-top: 8px;
  font-weight: bold;
  float: right;
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}


.logOut {
  margin-top: 8px;
  float: right;
  margin-right: 10px;
  padding: 10px;
  float: right;
  color: black;
  font-weight:  normal;
  font-family: 'Montserrat', sans-serif;

}

.logOut button{
  border: none;
  background-color: transparent;
  z-index: 2;
  webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Username {
  margin-top: 8px;
  float: right;
  margin-right: 10px;
  padding: 10px;
  float: right;
  color: black;
  font-weight:  normal;
  font-family: 'Montserrat', sans-serif;
}
