.PartyFinder {
  padding-top: 20px;



}

.PartyFinder .container {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.PartyFinder .btn {
  margin-top: 5px;
}

.PartyFinder .results {
  margin-top: 50px;
}
